<!DOCTYPE html>
<html>
  <head>
    <title>Regular Expression Matchings</title>
  </head>
  <style>
    .labelling{
        color:aqua;
        margin: 10px;
        font-size: 25px;
    }
    .input{
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 19px;
    }
  </style>
  <body style="background-color:black;">
    <center>
        <h1 style="color:blueviolet;font-size: 40px;">Welcome  to my First <strong>Backend Project</strong></h1>
        <form action="/matches" method="post">
            <label class="labelling" for="test_string"><i><strong>Enter the Text String: </strong></i> </label>
            <input class="input" type="text" id="test_string" name="test_string" ><br>
    
            <label class="labelling" for="regex_string"><strong><i>Enter  the Regular Expression:</i></strong></label>
            <input class="input" type="text" id="regex_string" name="regex_string"><br>
    
            <input type="submit" value="Submit">
        </form>
     </center>


</body>
  </body>  